<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.caesarj"
   name="Caesar Plug-in"
   version="0.3.0"
   provider-name="TU Darmstadt"
   class="org.caesarj.ui.CaesarPlugin">

   <runtime>
      <library name="caesar.jar">
         <export name="*"/>
      </library>
      <library name="caesar-compiler.jar">
         <export name="*"/>
      </library>
      <library name="caesar-runtime.jar">
         <export name="*"/>
      </library>
      <library name="aspectjtools.jar">
         <export name="*"/>
      </library>
      <library name="aspectjrt.jar">
         <export name="*"/>
      </library>
      <library name="java-getopt-1.0.9.jar">
         <export name="*"/>
      </library>
      <library name="log4j-1.2.8.jar">
         <export name="*"/>
      </library>
      <library name="cjbuildtools.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Caesar"
            id="Caesar">
      </category>
      <wizard
            name="Caesar Project"
            icon="icons/sample.gif"
            category="Caesar"
            class="org.caesarj.ui.wizard.NewCaesarProjectWizard"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="caesarprojectwizard">
         <description>
            Create a Caesar Project
         </description>
      </wizard>
   </extension>
   <extension
         id="caesarprojectnature"
         name="caesarNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.caesarj.ui.CaesarProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="builder.builder"
         name="Caesar Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.caesarj.ui.builder.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.caesarj.editor.caesareditor"
         point="org.eclipse.ui.editors">
      <editor
            class="org.caesarj.ui.editor.CaesarEditor"
            icon="icons/sample.gif"
            default="true"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            name="CaesarEditor"
            id="org.caesarj.ui.editor.CaesarEditor"
            extensions="java">
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         id="advicemarker"
         name="AdviceMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.jdt.core.problem"/>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="org.caesarj.links">
      </attribute>
      <attribute
            name="org.caesarj.adviceid">
      </attribute>
   </extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.caesarj.ui.adviceannotation" super="org.eclipse.ui.workbench.texteditor.task" markerType="org.caesarj.advicemarker" >
      </type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationType="org.caesarj.ui.adviceannotation"  icon="icons/PointCut.gif" >
	  </specification>
	</extension>
	<extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="org.caesarj.advicemarker"
            class="org.caesarj.ui.marker.AdviceMarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
	<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         icon="icons/sample.gif"
         class="org.caesarj.ui.perspective.CaesarPerspective"
         name="CaesarJ Development Tool"
         id="org.caesarj.ui.perspective.CaesarPerspective">
   </perspective>
   </extension>	
   <extension point="org.eclipse.ui.actionSets">
		<actionSet label="CaesarJ" visible="true" id="org.caesarj.actionSet">
  		<action label="CaesarJAnnotation" tooltip="CaesarJ: Enables/Disables live annotation" class="org.caesarj.ui.actionsets.AnnotationShortCut" toolbarPath="Normal/additions" icon="icons/annotation.gif" id="org.caesarj.ui.actionsets.Annotation" />
  		<action label="CaesarJPreferences" tooltip="CaesarJ Preferences" class="org.caesarj.ui.actionsets.PreferenceShortCut" toolbarPath="Normal/additions" icon="icons/pref.gif" id="org.caesarj.ui.actionsets.Preference" />  
   </actionSet>
   </extension>
   <!--extension point="org.eclipse.ui.actionSetPartAssociations">
   		<actionSetPartAssociation
   		targetID="org.caesarj.ui.actionsets.Annotation">
   		<part id="org.eclipse.jdt.ui.CompilationUnitEditor"/>
   		</actionSetPartAssociation>
   </extension-->
 	<extension point="org.eclipse.ui.views">
  		<view name="CaesarJ Hierarchy" icon="icons/sample.gif" category="org.eclipse.jdt.ui.java" class="org.caesarj.ui.views.CaesarHierarchyView" id="org.caesarj.ui.views.CaesarHierarchyView" /> 
 	</extension>
 	<extension point="org.eclipse.ui.preferencePages">
	<page name="TEST" class="org.caesarj.ui.wizard.CaesarConfigPage" id="org.caesarj.ui.wizard.caesarconfigpage">
     </page>
	</extension>
	
	<extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.caesarj.ui.editor.CaesarEditor"
            id="org.eclipse.caesarj.ui.QuickFixRulerMenuAction">
         <action
			 label="%Dummy.label"
              class="org.caesarj.ui.marker.CaesarSelectRulerAction"
              actionID="RulerClick"
              id="org.caesarj.ui.marker.CaesarSelectMarkerRulerAction">
         </action>
      </editorContribution>
   </extension>
</plugin>
