<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.caesarj"
   name="Caesar Plug-in"
   version="0.1.3"
   provider-name="TU Darmstadt"
   class="org.caesarj.ui.CaesarPlugin">

   <runtime>
      <library name="caesar.jar"/>
      <library name="caesar-compiler.jar">
         <export name="*"/>
      </library>
      <library name="caesar-runtime.jar">
         <export name="*"/>
      </library>
      <library name="aspectjtools.jar">
         <export name="*"/>
      </library>
      <library name="aspectjrt.jar">
         <export name="*"/>
      </library>
      <library name="bcel.jar">
         <export name="*"/>
      </library>
      <library name="java-getopt-1.0.9.jar">
         <export name="*"/>
      </library>
      <library name="log4j-1.2.8.jar">
         <export name="*"/>
      </library>
      <library name="cjbuildtools.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.ui" export="true"/>
      <import plugin="org.eclipse.jdt.ui" export="true"/>
      <import plugin="org.eclipse.jdt.core" export="true"/>
      <import plugin="org.eclipse.swt" export="true"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.apache.lucene"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ant.ui"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.expressions"/>
      <import plugin="org.eclipse.core.variables"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.help.appserver"/>
      <import plugin="org.eclipse.help.ide"/>
      <import plugin="org.eclipse.help.ui"/>
      <import plugin="org.eclipse.help.webapp"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.doc.isv"/>
      <import plugin="org.eclipse.jdt.doc.user"/>
      <import plugin="org.eclipse.jdt.junit"/>
      <import plugin="org.eclipse.jdt.junit.runtime"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.source"/>
      <import plugin="org.eclipse.ltk.core.refactoring"/>
      <import plugin="org.eclipse.ltk.ui.refactoring"/>
      <import plugin="org.eclipse.osgi.services"/>
      <import plugin="org.eclipse.osgi.util"/>
      <import plugin="org.eclipse.pde"/>
      <import plugin="org.eclipse.pde.build"/>
      <import plugin="org.eclipse.pde.core"/>
      <import plugin="org.eclipse.pde.doc.user"/>
      <import plugin="org.eclipse.pde.junit.runtime"/>
      <import plugin="org.eclipse.pde.runtime"/>
      <import plugin="org.eclipse.pde.source"/>
      <import plugin="org.eclipse.pde.ui"/>
      <import plugin="org.eclipse.platform"/>
      <import plugin="org.eclipse.platform.doc.isv"/>
      <import plugin="org.eclipse.platform.doc.user"/>
      <import plugin="org.eclipse.platform.source"/>
      <import plugin="org.eclipse.sdk"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.cvs.core"/>
      <import plugin="org.eclipse.team.cvs.ssh"/>
      <import plugin="org.eclipse.team.cvs.ssh2"/>
      <import plugin="org.eclipse.team.cvs.ui"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.tomcat"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.update.core"/>
      <import plugin="org.eclipse.update.scheduler"/>
      <import plugin="org.eclipse.update.ui"/>
      <import plugin="org.junit"/>
   </requires>


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Caesar"
            id="Caesar">
      </category>
      <wizard
            name="Caesar Project"
            icon="icons/sample.gif"
            category="Caesar"
            class="org.caesarj.ui.wizard.NewCaesarProjectWizard"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="caesarprojectwizard">
         <description>
            Create a Caesar Project
         </description>
      </wizard>
   </extension>
   <extension
         id="caesarprojectnature"
         name="caesarNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.caesarj.ui.CaesarProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="builder.builder"
         name="Caesar Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.caesarj.ui.builder.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="editor.caesareditor"
         point="org.eclipse.ui.editors">
      <editor
            class="org.caesarj.ui.editor.CaesarEditor"
            icon="icons/sample.gif"
            default="true"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            name="CaesarEditor"
            id="org.caesar.j.ui.editor.CaesarEditor"
            extensions="java">
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         id="advicemarker"
         name="AdviceMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.jdt.core.problem"/>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="org.caesarj.links">
      </attribute>
      <attribute
            name="org.caesarj.adviceid">
      </attribute>
   </extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.caesarj.ui.adviceannotation" super="org.eclipse.ui.workbench.texteditor.task" markerType="org.caesarj.advicemarker" >
      </type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationType="org.caesarj.ui.adviceannotation"  icon="icons/joinPoint.gif" >
	  </specification>
	</extension>
	<extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="org.caesarj.advicemarker"
            class="org.caesarj.ui.marker.AdviceMarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
	<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         icon="icons/sample.gif"
         class="org.caesarj.ui.perspective.CaesarPerspective"
         name="CaesarJDT Perspective"
         id="org.caesarj.ui.perspective.CaesarPerspective">
   </perspective>
</extension>
</plugin>
